#description {
    display: none !important;
}

#description p:nth-child(-n+2) .lang span {
    display: none;
}
#description p:nth-child(1) .lang-sv:after {
    content: '...andra svenska ord #1...';
}
#description p:nth-child(2) .lang-sv:after {
    content: '...andra svenska ord #2...';
}
#description p:nth-child(1) .lang-en:after {
    content: '...other english words #1...'
}
#description p:nth-child(2) .lang-en:after {
    content: '...other english words #2...'
}
